<div class="container">
    <a class="css-boton">Todo</a>
    <select class="select-css">
        <option value="" selected disabled hidden>Enseñanzas</option>
        <option>ESO</option>
        <option>Bachiller Artístico</option>
        <option>Bachiller Científico</option>
        <option>Formación Profesional</option>
        <option>FP Semipresencial</option>
        <option>FP Adultos</option>
    </select>
    <select class="select-css">
        <option value="" selected disabled hidden>Cursos</option>
        <option>Primero</option>
        <option>Segundo</option>
        <option>Tercero</option>
        <option>Cuarto</option>
    </select>
    <a class="css-boton">Aplicar</a>
</div>
