
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<br><br><br><br><br>
<div class = "card-wrapper" *ngFor="let datos of listDetails">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img class="img0" src = "{{datos.img.portada}}" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a  data-id = "1">
              <img class="img1" src = "{{datos.img.subPortada}}" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a  data-id = "2">
              <img class="img2" src = "{{datos.img.imgVenta1}}" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a  data-id = "3">
              <img class="img3" src = "{{datos.img.imgVenta2}}" alt = "shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{datos.titulo}}</h2>
  
        <div class = "product-price">
          <p class = "last-price">Precio Nuevo: <span>30€</span></p>
          <p class = "new-price">Precio Segunda Mano: <span>{{datos.precio}}</span></p>
        </div>
  
        <div class = "product-detail">
          <h2>Información sobre el libro: </h2>
          <p>{{datos.descripcion}}</p>
          <ul>
            <li>Enseñanza: <span>{{datos.ensenanza}}</span></li>
            <li>Curso: <span>{{datos.curso}}</span></li>
            <li>Asignatura: <span>{{datos.asignatura}}</span></li>
            <li>Editorial: <span>{{datos.editorial}}</span></li>
            <li>Año de publicación: <span>{{datos.any}}</span></li>
            <li>Estado: <span>{{datos.estado}}</span></li>
            <li>Tapa: <span>{{datos.tapa}}</span></li>
            <li class="autor">Autor: <span (click)="redirect()" >{{datos.autor.userName}}</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <input type = "number" min = "0" value = "1">
          <button type = "button" class = "btn">
            Add to Cart 
          </button>
        </div>
        <div>
          <h3>Rating</h3>
          <i class="fas fa-star" id="1" (click)="rating(1)"></i>
          <i class="fas fa-star" id="2" (click)="rating(2)"></i>
          <i class="fas fa-star" id="3" (click)="rating(3)"></i>
          <i class="fas fa-star" id="4" (click)="rating(4)"></i>
          <i class="fas fa-star" id="5" (click)="rating(5)"></i>
        </div>
        
      </div>
    </div>
    <!-- Contenedor Principal -->
	
  </div>
  <div class="comments-container">
		<h1>Comentarios</h1>
    <br/>
    <form [formGroup]="commentForm" (ngSubmit)="post()" #f="ngForm">
      <div class="input-box">
        <input type="text" id="comment" placeholder="Comentario" formControlName="comment"/>
        <div class="underline"></div>
        <br/>
        <input id="continueForm" type="submit" value="Post" [disabled]="f.invalid">
      </div>
  </form>
    <br/> <br/> <br/> <br/>
		<ul id="comments-list" class="comments-list">
			<li *ngFor="let datos of listComments">
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar" ><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author" >{{datos.autor.userName}}</h6>
              <i class="basura fas fa-trash-alt" (click)="delete(datos)" id="{{datos.autor.userName}}" *appDeleteComment="true"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content">
							{{datos.body}}
						</div>
					</div>
				</div>
				<!-- Respuestas de los comentarios -->
			</li>
		</ul>
	</div>
