<body>
    <main>
        <div class="content-all">
            <h1>ReBks</h1>
            <div class="barra">
                <i class="fas fa-bars"></i>
                <h2>Menu</h2>
                <ul>
                    <li><a>¿Quienes somos?</a></li>
                    <li [routerLink]="['']"><a>Enseñanza</a></li>
                    <li [routerLink]="['courses']"><a>Cursos</a></li>
                    <li><a>Asignaturas</a></li>
                    <li [routerLink]="['books']"><a>Libros</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
