<body>
    <main>
        <div class="content-all" >
            <h1>ReBks</h1>
            <div class="barra" >
                <i class="fas fa-bars"></i>
                <h2>Menu</h2>
                <ul>
                    <li><a>¿Quienes somos?</a></li>
                    <li [routerLink]="['']"><a>Enseñanza</a></li>
                    <li [routerLink]="['courses']"><a>Cursos</a></li>
                    <li [routerLink]="['books']"><a>Libros</a></li>
                    <li [routerLink]="['login']"><a><i class="fas fa-user"></i>Iniciar Sesion</a></li>
                </ul>
            </div>

            <div class="barra" *appShowUser="true">
                <i class="fas fa-bars"></i>
                <h2>Menu</h2>
                <ul>
                    <li><a>¿Quienes somos?</a></li>
                    <li [routerLink]="['']"><a>Enseñanza</a></li>
                    <li [routerLink]="['courses']"><a>Cursos</a></li>
                    <li [routerLink]="['books']"><a>Libros</a></li>
                    <li><a><img src="https://static.productionready.io/images/smiley-cyrus.jpg" class="img-user">
                        {{currentUser.userName}}</a></li>
                    <li><a (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                </ul>
            </div>
        </div>
    </main>
    
</body>
