<body>
    <main>
        <div class="content-all" *appShowUser="false">
            <h1>ReBks</h1>
            <div class="barra">
                <i class="fas fa-bars"></i>
                <h2>Menu</h2>
                <ul>
                    <li><a>¿Quienes somos?</a></li>
                    <li [routerLink]="['']"><a>Enseñanza</a></li>
                    <li [routerLink]="['courses']"><a>Cursos</a></li>
                    <li [routerLink]="['books']"><a>Libros</a></li>
                    <li [routerLink]="['login']"><a><i class="fas fa-user"></i>Iniciar Sesion</a></li>
                </ul>
            </div>
        </div>
        <div class="content-all" *appShowUser="true">
            <h1>ReBks</h1>
            <div class="barra">
                <i class="fas fa-bars"></i>
                <h2>Menu</h2>
                <ul>
                    <li><a>¿Quienes somos?</a></li>
                    <li [routerLink]="['']"><a>Enseñanza</a></li>
                    <li [routerLink]="['courses']"><a>Cursos</a></li>
                    <li [routerLink]="['books']"><a>Libros</a></li>
                    <li><a><i class="fas fa-user"></i>{{currentUser.userName}}</a></li>
                </ul>
            </div>
        </div>
    </main>
    
</body>
