.wrapper-cat{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 img{
    width: 200px;
    height: 200px;
}
.img-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.single-img{
    padding: 0 20px 20px;
    flex-basis: 50%;
}

img:hover{
    opacity: .4;
    transition: .5s;
    cursor: pointer;
}
