<div class="container">

    <div class="flex">

      <div class="card" *ngFor="let datos of listAllBooks">
        <img src="{{datos.img.portada}}" alt="" [routerLink]="['/details',datos.slug]">
        <div class="card-body">
          <h3>{{datos.titulo}}</h3>
          <p>{{datos.descripcion}}</p>
          <p>{{datos.editorial}}</p>
          <p>{{datos.precio}}</p>
          <p class="buttons"><app-fav-button></app-fav-button>&nbsp;&nbsp;&nbsp;&nbsp;<app-follow-button></app-follow-button></p>
        </div>
      </div>

    </div>

  </div>
<app-pagination></app-pagination>